@font-face {
  font-family: ShareTech-Regular;
  src: url(ShareTech-Regular.ttf);
}
@font-face {
  font-family: Orbitron-Medium;
  src: url(Orbitron-Medium.ttf);
}
@font-face {
  font-family: Orbitron-Bold;
  src: url(Orbitron-Bold.ttf);
}
@font-face {
  font-family: PressStart2P-Regular;
  src: url(PressStart2P-Regular.ttf);
}

html, body, .carousel, .carousel-item {
  width: 100vw;
  height: 100vh;
  max-width: 320px; /*hack*/
}

@media screen and (min-width: 320px) {
  .debug {
    display: none;
  }
}

#targetScreen .ammoCount {
  position: absolute;
  top: 2%;
  left: 5%;
  color: white;
  font-family: ShareTech-Regular;
  z-index: 20;
  font-size: 2em;
  opacity: 1;
}

.carousel {
    position:absolute;
    top:0;
    left:0;

  }
  #reload-debug {
    position: absolute;
    bottom: 0;
    right:0;
    z-index: 1000;
  }

  .carousel-item.active {
    background-color: orange;
  } 

  /* #ammoScreen {
    background-color: orange;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid white;
  } */
  /* #ammoCount {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    right:0;
    text-align: center;
    color: white;
    font-size: 10em;
    letter-spacing: 0em;
  } */

  /* #ammoProgress {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    right:0;
    width: 100%;
  } */

  .circular{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%) scale(2.25);
    left: 0;
    right: 0;
    margin: 0px auto;
  }
  .circular .inner{
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -40px 0 0 -40px;
    background: orange;
    border-radius: 100%;
   
  }
  /* .circular .number{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:10;
    font-size:18px;
    font-weight:500;
    color:white;
  } */

  .circular .number {
    font-family: ShareTech-Regular;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 4em;
    font-weight: 500;
    color: white;
}

  .circular .bar{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    -webkit-border-radius: 100%;
    clip: rect(0px, 100px, 100px, 50px);
  }
  .circle .bar .progress{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
    background: white;
  }
  .circle .left {
    transform: rotate(0deg);
  }
  .circle .left .progress{
    z-index:1;
    animation: left 0.25s linear both;
  }
  @keyframes left{
    100%{
      transform: rotate(180deg);
    }
  }
  .circle .right {
    transform: rotate(180deg);
    z-index:3;
  }
  .circle .right.transparent {
    background: orange;
  }
  .circle .right.transparent .progress{
    background: transparent;
  }
  .circle .right .progress{
    animation: right 0.25s linear both;
    animation-delay: 0.25s;
  }
  @keyframes right{
    100%{
      transform: rotate(180deg);
    }
  }

  .circle .left,
  .circle .right {
    transition: all 0.5s ease;
  }

.carousel-indicators [data-bs-target] {
    background-color: black;
    border-top:none !important;
    border-bottom:none !important;
    width: 33%;
}

.crosshair {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.type-1 {
  display: inline-block;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: lightskyblue;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 10;
  transform: translate(0, -50%);
  margin: 0px auto;
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}
.type-1:after {
  content: '';
}
.type-1 .circular{
  height: 84px;
  width: 84px;
  transform: translate(0, -50%) scale(1.5);
}
.type-1 .circular .inner{
  
}
.type-1 .circular .bar{
  clip: rect(-10px, 80px, 80px, 60px);
  background: transparent;
}
.type-1 .circle .bar .progress{
  background: lightskyblue;
}
.type-1 .circle .left {

}
.type-1 .circle .left .progress{

}
.type-1 .circle .right {

}
.type-1 .circle .right.transparent {

}
.type-1 .circle .right.transparent .progress{

}
.type-1 .circle .right .progress{

}




/*Type 2*/
.type-1 .circular{

}
.type-1 .circular .inner{
 
}
.type-1 .circular .bar{

}
.type-1 .circle .bar .progress{

}
.type-1 .circle .left {

}
.type-1 .circle .left .progress{

}
.type-1 .circle .right {

}
.type-1 .circle .right.transparent {

}
.type-1 .circle .right.transparent .progress{

}
.type-1 .circle .right .progress{

}



/*Tensor Flow Windows and Styles*/
.removed {
  display: none;
}

.invisible {
  opacity: 0.2;
}

.camView {
  position: relative;
  float: left;
  width: calc(100% - 20px);
  margin: 10px;
  cursor: pointer;
}

.camView p {
  position: absolute;
  padding: 5px;
  background-color: rgba(255, 111, 0, 0.85);
  color: #FFF;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  z-index: 2;
  font-size: 12px;
}

.highlighter {
  background: rgba(0, 255, 0, 0.25);
  border: 1px dashed #fff;
  z-index: 1;
  position: absolute;
}

.active.ammoScreen {
  background-color: orange;
  transition: all 0.2s linear;
}



.active.ammoScreen.reload {
  background-color: red;
}

.active.ammoScreen.reload #ammoCount {
  opacity: 0;
}

.active.ammoScreen.reload:after {
  content: 'RELOAD!';
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0px auto;
  left: 0;
  right: 0;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  color: red;
}

.active.ammoScreen.reloading {
  background-color: green;
}

.active.ammoScreen.reloading #ammoCount {
  opacity: 0;
}

.active.ammoScreen.reloading:after {
  content: 'RELOADED';
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0px auto;
  left: 0;
  right: 0;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  color: green;
}





.mode-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  z-index: 1;
  color: white;
  transition: all 0.25 ease-in-out;
}

.modes {
  padding:0;
}

.mode-screen.configure {
  opacity: 1;
}

.mode-screen li {
  list-style: none;
  font-family: PressStart2P-Regular;
  font-size: 2em;
  text-align: center;
}

.mode-screen li.selected {
  color: orange;
  background-color: white;
}

#webcamPi {
  position: absolute;
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}

#webcamPi.x2 {
  transform: scale(2);
}

#webcamPi.x3 {
  transform: scale(3);
}

#webcamPi.x5 {
  transform: scale(5);
}

#webcamPi.x10 {
  transform: scale(10);
}

.zoomLevel {
  color: white;
  position: absolute;
  top:0;
  right:0;
}